<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My app</title>
</head>
<body>
  {{ params['stdout'] }}<br><br>
  {{ params['stderr'] }}<br><br>
</body>
</html>
 
