<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My app</title>
</head>
<body>
  <form method="POST" action="/create_account">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="Lum"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value="lum@oni.world"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" value="************"><br><br>
    <label for="captcha">Captcha:</label><br>
    <img src={{ params['captcha_image'] }}><br>
    <input type="text" id="captcha" name="captcha"><br><br>
    <input type="hidden" id="token" name="token" value={{ params['token'] }}><br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>
